<mat-card>
  <form #postForm="ngForm" (submit)="onSavePost(postForm)">
    <mat-form-field>
      <input matInput type="text" name="title" 
                      [ngModel]="post?.title"
                      required minlength="3"
                      placeholder="Post Title"
                      #title="ngModel">
      <mat-error *ngIf="title.invalid">Invalid Title. Try again!!!</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input mat-button type="file" #filePicker [hidden]="true">
    </div>
    <mat-form-field>
      <textarea matInput rows="6" name="content"
                placeholder="Post Content"
                [ngModel]="post.content"
                required #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Enter any Content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>
